.main{
    margin-top: 100px;
    text-align: center;

}


.logo-img {
    width: 300px;
    display: block; 
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.search-input {
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 10px 30px;
    line-height: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.btn {

    padding: 10px 20px;
    background-color: #dfe1e5;
    color: #0f1419;
    border: 1px solid #cfd9de;
    border-radius: 35px;
    font-weight: bold;
    font-size: 15px;
}
