body {
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.image {
    width: 150px;
    border-radius: 25px;
    border: #64dfdf solid 5px;
}
.card {
    width: 400px;
    margin: 0 auto;
    padding: 25px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #80ffdb;
    color: #7400b8;
    border-bottom: 10px solid #5390d9;
    border-right: #56cfe1 solid 10px;
    border-radius: 15px;
    
}
